html,body{
    background-color: #141414;
    height: 100%;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.card{
    display: flex;
    width: 30rem;
    height: 40rem;
    background-color: aqua;
    background-image: url(assets/desertPlanetDay.jpg);
    
}

.card img{
    object-fit: cover;
}

/* --------------------------------------------------- */
.topBox{
    display: flex;
    height: 2rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: rgb(71, 69, 73);
    font-family: monospace;
    font-size: 20px;
}

.titleText{
    
}

.unitsOfTemp{
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-between;
    width: 8rem;
}

.degrees{
    background-color: red;
}

.faren{
    background-color: blue;
}

/* --------------------------------------------------- */

.centeralContent{
    display: flex;

}

.weatherInfo{
    
}

.tempLeft{

}

.infoRight{

}